@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
	font-family: 'Poppins', sans-serif;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/* desktop */
@media only screen and (min-width:1181px){
  /*Nav-Bar*/
  .navbar {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      background-color: #ff4d4d;
      color: white;
  }

  .brand-title {
      font-size: 1.5rem;
      margin: .5rem;
  }

  .navbar-links {
      height: 100%;
  }

  .navbar-links ul {
      display: flex;
      margin: 0;
      padding: 0;
  }

  .navbar-links li {
      list-style: none;
  }

  .navbar-links li a {
      display: block;
      text-decoration: none;
      color: white;
      padding: 1rem;
  }

  .navbar-links li:hover {
      background-color: #ff6666;
  }

  .toggle-button {
      position: absolute;
      top: .75rem;
      right: 1rem;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
  }

  .toggle-button .bar {
      height: 3px;
      width: 100%;
      background-color: white;
      border-radius: 10px;
  }

  /* FOOTER */
  .footer{
    padding: 30px;
    background-color: #0099cc;
    display: grid;
    color:white;
    grid-template-columns: auto auto;
    text-align: center;
    max-height: 440px;
  }

  .contact{
    padding-top:80px;
  }

  .admin_button{
    width: 68px;
    margin: auto;
    color: white;
    background-color: rgb(16, 9, 219);
    border-radius: 50px;
  }

}

/*TABLET-VIEW*/
@media only screen and (max-width:1180px) and (min-width:768px){
  /*NAV-BAR*/
	.navbar {
			flex-direction: column;
			align-items: flex-start;
	}

	.toggle-button {
			display: flex;
	}

	.navbar-links {
			display: none;
			width: 100%;
	}

	.navbar-links ul {
			width: 100%;
			flex-direction: column;
	}

	.navbar-links ul li {
			text-align: center;
	}

	.navbar-links ul li a {
			padding: .5rem 1rem;
	}

	.navbar-links.active {
			display: flex;
	}

  /*FOOTER*/
  .footer{
    padding: 21px;
    background-color: #0099cc;
    display: grid;
    color:white;
    grid-template-rows: auto auto auto;
    text-align: center;
    max-height: 700px;
  }

  .contact{
    padding-top:40px;
  }

  .admin_button{
    width: 68px;
    margin: auto;
    color: white;
    background-color: rgb(16, 9, 219);
    border-radius: 50px;
    margin-top: 15px;
  }

}

/*PHONE-VIEW*/
@media only screen and (max-width:767px) {
  /*NAV-BAR*/
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }

  /*FOOTER*/
  .footer{
    padding: 21px;
    background-color: #0099cc;
    display: grid;
    color:white;
    grid-template-rows: auto auto auto;
    text-align: center;
    max-height: 700px;
  }

  .contact{
    padding-top:40px;
  }

  iframe{
    width:410px;
  }

  .admin_button{
    width: 68px;
    margin: auto;
    color: white;
    background-color: rgb(16, 9, 219);
    border-radius: 50px;
    margin-top: 15px;
  }

}
